.App {
  text-align: center;
}
.body{
    background: #F9F4EE;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center{
 vertical-align: middle;
}

.yellow-text{
    color: #F1C448;
}

.seashell-text{
  color: #F9F4EE;
}

.horizontal-center{
  align-items: center;
}
.title{
   text-transform: uppercase;
   font-family: 'Homenaje',
   sans-serif;
   font-family: 'Federo',
   sans-serif;
   font-family: 'Julius Sans One',
   sans-serif;
}

.App-link {
  color: #61dafb;
}

.main-font{
    
    font-family: 'Julius Sans One',
    sans-serif;
    font-family: 'Homenaje',
    sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
