.remove-radio-button{
    appearance: none;
}

.list-group-item.action
{
    background-color: aquamarine !important;
}

.list-group-mine .list-group-item {
  background-color: #F1C448;
  border-left-color: #fff;
  border-right-color: #fff;
}

.list-group-mine .list-group-item:hover {
    background-color: #213C4D;
    color: aliceblue;
}

.initiallyHidden{
    display: none;
}

.form{
    width: inherit;
}

.title{
    font-size: xx-small !important;
}