.body{
    background: #F9F4EE;
}

.no-side-padding{
     padding-left: 0;
     padding-right: 0;
}

.min-padding{
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.center{
 vertical-align: middle;
}

.medium-font {
    font-size: medium;
}

.main-font{
    font-family: 'Julius Sans One',
    sans-serif;
    font-family: 'Homenaje',
    sans-serif;
}

.justify-text{
    text-align: justify;
    text-justify: inter-word;
}  

.outline-button{
    border: 2px solid black;
}